<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendamento</title>
</head>
<body>
    <main>
        <form action="">
            <input type="text" name="nome_do_animal">

            <input type="text" name="nome_do_tutor">

            <input type="date" name="data">

            <input type="time" name="hora">

            <input type="text" name="sintomas">
        </form>
    </main>
</body>
</html>